extends ../templates/index-template

block title
  | Оглавление


block content
  .container
    h1 Список страниц
      ol
        li
          a(href="colors-and-type.html") UI Kit: Colors and Type --- colors-and-type.html
        li
          a(href="headers-and-footers.html") UI Kit: Headers and Footers --- headers-and-footers.html
        li
          a(href="form-elements.html") UI Kit: Form Elements --- form-elements.html
        li
          a(href="cards.html") UI Kit: Cards --- cards.html
        li
          a(href="main.html") Website pages: Landing page --- main.html
        li
          a(href="search-room.html") Website pages: Search room --- search-room.html
        li
          a(href="room-details.html") Website pages: Room details --- room-details.html
