extends ../templates/index-template

block title
  | Оглавление


block content
  .container
    h1 Список страниц
      ol
        li
          a(href="ui-kit.html") Страницa UI Kit --- ui-kit.html
        li
          a(href="main.html") Главная страница --- main.html
