extends ../../layouts/ui-kit

block title
  title index-page


block head
        link(rel="stylesheet" href="index.css")
        
block body
   .index__pages
    a(href="../color-type.html").index__page color-type 

block script
    script(src="./index.js")